{% extends '_layout.html' %}

{% block body %}
    <form class="form-signin">
        <h2 class="form-signin-heading">Please Connect Car</h2>
        <label for="inputEmail" class="sr-only">IP address</label>
        <input type="input" id="username" class="form-control" placeholder="IP Address" required autofocus>
        <label for="inputPassword" class="sr-only">Port</label>
        <input type="password" id="password" class="form-control" placeholder="Port" required>

        <div class="checkbox"></div>
        <input type="hidden" id="nextURL" class="form-control" value="">
        <button class="btn btn-lg btn-primary btn-block" id="loginbtn" type="button">Connect</button>

        <div id="loader text-center"></div>
    </form>
{% endblock %}